<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->

<!--    <uses-feature android:name="android.hardware.location.gps"/>-->

<!--    <meta-data-->
<!--        android:name="com.google.android.geo.API_KEY"-->
<!--        android:value="AIzaSyDz7PlwrKvJbxV8U7W5Pj4Af63BF-JSSe4" />-->

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoinicio"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppOrderHub"
        tools:targetApi="31">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppOrderHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>